---
import { Image } from 'astro:assets';
import BlogPostLayout from "../layouts/BlogPostLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import CallToAction from "../components/CallToAction.astro";
import {pageTag, pageDescription,aboutTdk} from '../data/content';
import myPortrait from "../assets/portrait.jpg";
---
<BlogPostLayout
	title={aboutTdk.title || ''}
	description = {aboutTdk.description || ''}
	keywords = {aboutTdk.keywords || ''}
>

	<div class="post">
		<main class="post-wrapper about">
			<SectionHeader
				tag={pageTag.about}
				description={pageDescription.about}>
				<h1>王百川</h1>
			</SectionHeader>
			<section class="border-top" style="padding-top: 2rem;">
				<div class="content">
					<div>
						<Image src={myPortrait} alt="portrait" width="88" height="88" class="portrait">
					</div>
					<p>
						I'm <strong style="font-size:1.2em">Baichuan Wang</strong>, A graduate student in design at Kyushu University’s Graduate School of Design, currently enrolled in the Strategic Design course, with a preference for minimal and modernist aesthetics.A graduate student in design at Kyushu University’s Graduate School of Design, currently enrolled in the Strategic Design course, with a preference for minimal and modernist aesthetics.。
					</p>
					<p>
						I’m currently exploring and creating work that is both engaging and creative.
					</p>

				</div>
			</section>
			<section>
				<h3 class="post-title">工作之外</h3>
				<div class="content">
					<p>
						Outside of my academic work, I enjoy dedicating my free time to a variety of creative projects. I have a strong background in music production, including composition, arrangement, mixing, and playing electric guitar and bass. I have also participated in several game-related derivative and soundtrack projects. In addition, I enjoy road trips and photography.
					</p>
					<p>Perhaps we could connect :)</p>
					<p style="margin-top:24px;">
						<CallToAction
						target="_self"
						href="d-clarkson@outlook.com"
						>
							Contact
						</CallToAction>
					</p>
				</div>
			</section>
			<p></p>
			<p></p>
		</main>
	</div>
</BlogPostLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		margin:0 auto;
	}
	p{
		margin:0.75rem 0;
	}
	figure{
		margin:2rem 0;
	}
	img{max-width: 100%;}
	.portrait{
		border-radius: 100px;
		margin:12px 0 12px;
		overflow: hidden;
		text-align: left;
	}
	a, a:link{
		color:var(--color-blue);
	}
</style>
