---
import BaseLayout from '../layouts/BaseLayout.astro';
import Cards from "../components/Cards.astro";
import SectionHeader from "../components/SectionHeader.astro";
import {pageTag, pageDescription,homeTdk} from '../data/content';
---

<BaseLayout
title={homeTdk.title  || ''}
description ={homeTdk.description  || ''}
keywords = {homeTdk.keywords  || ''}
>
	<div class="section hero">
		<div class="container">
			<SectionHeader
				tag={pageTag.index}
				description={pageDescription.index}>
					<h1 style="font-size: 3rem; font-weight: bold; letter-spacing: 0.1em; color: white; margin-bottom: 1rem;">王百川</h1>
			</SectionHeader>
			<Cards />
		</div>
	</div>

</BaseLayout>



